.ui.masthead.segment {
  background: url(../img/home.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}

.ui.team.segment {
  background: url(../img/team.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}

.ui.secondary.pointing.menu {
  border: none;
}
